*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu';
    text-wrap: balance;
}
p, h2, h1, li{
    color: var(--black-bg);
}

body{
    background-color: var(--white);
}
.dark{
    background-color: var(--black-bg);
}
.dark_text{
    color: var(--white)
}
.border{
    border: 2px solid white;
}
button{
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
}
img{
    max-width: 100%;
    width: 200px;
}

:root{
    --black-bg: rgb(20, 29, 38);
    --white: rgb(242, 245, 245);
    --black-rgb: rgba(0,0,0,0.4);
    --grey: rgb(128, 128, 128);
}
.container{
    margin: 5rem auto;
    width: 85%;
    max-width: 1000px;
    padding: 4rem 5rem;
    border-radius: 15px;
    box-shadow: 0px 3px 15px var(--black-rgb);
}

.header{
    padding-bottom: 3rem;
    border-bottom: 5px solid grey;
    display: flex;
    justify-content: space-between;
}
.name{
    font-size: 3em;
    margin-bottom: 1.25rem;
}
.details{
    width: 100%;
}
.details p{
    line-height: 1.5;
}
.img{
    justify-self: flex-start;
}





.content {
    margin-top: 3rem;
}
.obj-text{
    margin-top: 2rem;
    line-height: 1.5;
}
.second_row{
    display: flex;
    justify-content: space-between;
    max-widtH: 800px;
    margin-top: 2rem;
}
.sec_col{

    width: 45%;
}
.sec_col--0{

    width: 20%;
}
.sec_col--1{
    width: 10%;
}

.my_list{
    list-style-type: circle;
    padding-left: 3rem;
    margin-top: 1rem;
    line-height: 1.5;
}


@media(max-width: 650px){
    .container{
        border-radius: 0px;
        width: 100%;
        padding: 4rem 2.15rem;
        box-shadow: none;
        margin: 0;
    }

    .header{
        display: block;
    }
    .img{
        margin-top: 1rem;
        width: 150px;
        
    }
    /* .header{
        padding-bottom: 3rem;
        border-bottom: 5px solid grey;
        display: flex;
        justify-content: space-between;
    } */
    /* .container{
        margin: 5rem auto;
        width: 85%;
        max-width: 1000px;
        padding: 4rem 5rem;
        border-radius: 15px;
        box-shadow: 0px 3px 15px var(--black-rgb);
    } */
}
